/* service styles start */
.service {
    overflow: hidden;
    box-shadow: 10px 10px 10px rgb(204, 202, 202);
  }
  .service img {
    width: 210;
    height: 190px;
    border-radius: 7px;
    margin: 0 auto;
  }
  .denta-btn {
    background-color: #08464b;
    padding: 12px 18px;
    color: rgb(224, 228, 233);
    font-weight: bold;
    font-size: 14px;
    word-spacing: 2px;
    border: 1px solid #161210;
    width: 60%;
  }
  .card {
    border: none;
    background-color: rgb(241, 245, 248);
   
  }
  .service{
    height: 470px;
  }
  .service-title {
    color: rgb(199, 146, 77);
    margin-bottom: 16px;
  }
  .card-text {
    color: gray;
  }