/* footer styles start */
.footer-container {
    background-color: rgb(12, 38, 44);
  }
  .footer-hr {
    border-bottom: 5px solid rgb(226, 194, 152);
    width: 200px;
  }
  .footer-title {
    color: rgb(238, 229, 229);
  }
  .footer-text {
    color: rgb(194, 185, 185);
  }
  .footer-last-text {
    color: rgb(194, 185, 185);
    background-color: rgb(6, 61, 65);
    padding: 16px 0px;
    border-radius: 8px;
  }